<div class="content">
  <div class="p-grid">

    <!-- PLAYERS TABLE -->
    <div class="p-col-2">
      <div class="menu-players">
        <ul class="users">             
          <li *ngFor="let user of usersRoom" class="user">
            <!-- <div class="user-pic"> </div> -->
            <div class="user-username">{{ user.username }}</div>
            <div class="user-points">{{ user.points }} Puntos</div>
            <div class="user-drawing"><span *ngIf="user.id === playerTurnID" class="ion ion-md-create"></span></div>
          </li>
        </ul>
      </div>
    </div> 

    <!-- CENTER -->
    <div class="p-col-7">
      <div class="main-draw">
          
          <!-- HINT -->
          <div class="game-hint">
            <div class="word-hint">
              <!-- <p>{{ wordHint }}</p> -->
              <p *ngFor="let char of wordHint.split('')">{{ char == "_" ? char + "_" : char }}</p>
            </div>
            <div class="word-2draw" *ngIf="user.drawing && word2draw">
              <!-- <p *ngIf="user.drawing" class="word2draw">{{ word2draw }}</p> -->
              <p *ngFor="let char of word2draw.split('')">{{ char }}</p>
            </div>
          </div>

          <!-- COLOR PICKER - CLEAR CANVAS -->
          <div class="color-picker" *ngIf="drawHelper.isDavinci">
              <div class="ui-g">
                  <div class="ui-g-4 button-clear-canvas">
                      <button class="ui-g-4" (click)="clearCanvas($event)" title="Limpiar la pizarra"></button>
                  </div>

                  <div class="ui-g-8 ui-g-nopad">
                    <button 
                      *ngFor="let color of colors" 
                      [class]="'ui-g-4 color-pick ' + (drawHelper.color == color ? 'picked-color' : '')"
                      [style.background-color]="color"
                      (click)="changeColorPen($event, color)" title="cambiar el color del lapiz"></button>
                  </div>
              </div>
          </div>

          <!-- TIMER -->
          <div class="timer">
            <span>{{ 90 - roomTime }}</span>
          </div>
          
          <!-- CANVAS -->
          <canvas id="main-canvas" width="500" height="300"></canvas>          
      </div>
    </div>

    <!-- CHAT -->
    <div class="p-col-3">
      <div class="menu-chat">        
          <ul class="chat" #chatScroll [scrollTop]="chatScroll.scrollHeight">             
            <li *ngFor="let comment of chatComments" class="comment">
              <div class="comm-author">{{ comment.author }}: </div>
              <div class="comm-content">{{ comment.content }}</div>
            </li>
          </ul>
        <div class="post-comment">
          <span class="ui-float-label">
              <input id="input-comment" type="text" 
                    [(ngModel)]="comment" size="30" pInputText
                    (keyup.enter)="sendComment(comment, $event)"> 
              <label for="input-comment">Escribe un comentario</label>
          </span>

          <div class="buttons">
            <button pButton type="button" label="Enviar"
              (click)="sendComment(comment)"
              class="ui-button-raised ui-button-rounded"></button>
          </div>
        </div>
      </div>
    </div>
</div>
