$main: #1e1548;
$secondary: #ff2e4c;
$therd: #fcd77f;
$four: #2e99b0;

// .content{    
//     // padding-top: .7em;
//     // padding-bottom: .5em;
// }

.p-grid{
    max-width: 100%;
    height: 100%;
}

#main-canvas{
    border:1px solid #fff;
}

.menu-chat{
    padding-left: 2px;

    // border-left: 1px solid rgb(97, 97, 97);
    border-left: 5px solid #8d1515;
    border-top: 1px solid rgb(97, 97, 97);

    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    // background: linear-gradient(to left, #07090e, #2f45621a);
    background-color: #07090e;

    .chat{
        list-style: none;
        padding: 0;

        // height: calc(100% - 20px);
        overflow: hidden;
        overflow-y: scroll;

        &::-webkit-scrollbar { 
            display: none; 
        }

        .comment{
            padding: 2px;

            &:nth-child(odd){
                background-color: #333333;
            }
            .comm-author{
                display: inline;
                font-size: 0.75rem;
                color: #079647ed;
            }

            .comm-content{
                display: inline;                
                font-size: 0.8rem;
            }
        }
    }

    .post-comment{
        .ui-float-label{
            margin-left: 5px;
           label{
            // top: 25%;
            font-size: 0.7rem;
           }
        }
        

        #input-comment{
            border-radius: 2px;
            border: 0;
            height: 29px;
            margin-bottom: 4px;    
            width: 98%;
        }

        .buttons{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }
}

.main-draw{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .game-hint{
        p{
            letter-spacing: 0.65rem;
        }
    }
}

.p-grid{ margin: 0; }
.p-col-1, .p-col-2, .p-col-3, .p-col-4, .p-col-5, .p-col-6, .p-col-7, .p-col-8, .p-col-9, .p-col-10, .p-col-11, .p-col-12{
    padding: 0;
}

.menu-players{
    height: 100%;
    padding-left: 2px;
    // border-right: 1px solid #616161;
    border-right: 5px solid #8d1515;
    border-top: 1px solid #616161;

    // background: linear-gradient(to right, #07090e, #2f45621a);
    background: linear-gradient(to right, #05070a, #0b0a1ac7);
    background-color: #07090e;

    .users{
        list-style-type: none;
        padding-left: 6px;
        padding: 0;
        margin: 0;  

        .user{
            // background-color: #1C3041;
            background: linear-gradient(to right, #171e2e, #2f456205);
            margin: 4px 5px;
            padding: 5px;
            border-radius: 9px;
            position: relative;

            .user-username{
                font-weight: 800;
                font-size: 1.25rem;
                text-transform: capitalize;
            }

            .user-drawing{
                position: absolute;
                right: 18px;
                top: 29%;

                .ion{
                    color: #ffffff;
                    font-size: 1.7rem;
                }
            }
        }
    }
}

.box{
    background-color: #cce4f7;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 4px;
    color: #333333;
}