<div class="content">
  <div class="p-grid">

    <!-- PLAYERS TABLE -->
    <div class="p-col-2">
      <div class="menu-players">

      </div>
    </div> 

    <!-- CANVAS -->
    <div class="p-col-7">
      <div class="main-draw">
          <canvas id="main-canvas" width="500" height="300"></canvas>
      </div>
    </div>

    <!-- CHAT -->
    <div class="p-col-3">
      <div class="menu-chat">        
          <ul class="chat" #chatScroll [scrollTop]="chatScroll.scrollHeight">             
            <li *ngFor="let comment of chatComments" class="comment">
              <div class="comm-author">{{ comment.author }}: </div>
              <div class="comm-content">{{ comment.content }}</div>
            </li>
          </ul>
        <div class="post-comment">
            <span class="ui-float-label">
                <input id="input-comment" type="text" 
                      [(ngModel)]="comment" size="30" pInputText
                      (keyup.enter)="sendComment(comment, $event)"> 
                <label for="input-comment">Escribe un comentario</label>
            </span>
          <!-- <span class="ui-float-label">
            <textarea id="float-input" 
                      pInputTextarea 
                      label="Escribe un comentario" [(ngModel)]="comment"
                      (keyup.enter)="sendComment(comment, $event)"></textarea>
            <label for="float-input">Escribe un comentario</label>
          </span> -->

          <div class="buttons">
            <button pButton type="button" label="Enviar"
              (click)="sendComment(comment)"
              class="ui-button-raised ui-button-rounded"></button>
          </div>
        </div>
      </div>
    </div>
</div>
