<div class="content">
  <h1 class="title">Draw SW</h1>

  <div class="loading" *ngIf="showLoading; else showPlay">    
    <p-progressSpinner></p-progressSpinner>
    <p>Intentado obtener una sala...</p>
  </div>
  
  <ng-template #showPlay>
    <div class="input-container">
      <input id="input-username" type="text" placeholder="username" 
            [(ngModel)]="username" size="15" maxlength="18" pInputText> 
      <!-- <p-message severity="error" *ngIf="usernameError.error" [(text)]="usernameError.msg"></p-message> -->
    </div>

    <button pButton type="button" label="Play!" 
            (click)="play()"
            class="ui-button-raised ui-button-rounded"></button>
  </ng-template>

  <p-messages class="errorMessage" [(value)]="usernameError.msgs"></p-messages>
</div>