/* You can add global styles to this file, and also import other style files */
html, body{    
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue";

    .content{
        background-color: rgb(11, 10, 26);
        color: #fff;
        height: 100%;
        width: 100%;
    }

    .ui-button{
        padding: 1px 6px;
    }
}